{% extends 'layout.html' %}

{% block content %}
<h1 id="login-text">관리자 로그인</h1>
<div id="login-container">
    <div id="login-form-box-admin">
        <form id="login-form-admin" action="/auth/loginAdmin" method="post">
            <div class="input-group-admin">
                <label for="adminId">아이디</label>
                <input id="adminId" type="text" name="adminId" required autofocus>
            </div>
            <div class="input-group-admin">
                <label for="adminPassword">비밀번호</label>
                <input id="adminPassword" type="password" name="adminPassword" required>
            </div>
            <button type="submit" id="btn-form-login-admin" class="login-hover">관리자 로그인</button>
    </div>
    </form>
</div>
{% endblock %}