/* 레이아웃 */

header {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #2F9D27;
}

nav {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 40px;
    /* background-color: #FFBB00; */
    margin: 0 auto;
}

.btn-home {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
}

.btn-notice {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-account {
    position: relative;
    margin-left: auto;
}

.dropdown-account li {
    position: absolute;
    display: none;
    margin-top: 10px;
    right: 0;
    list-style-type: none;
}

.window-account {
    text-align: center;
    width: 160px;
    border: 1px solid #BDBDBD;
    background-color: white;
}

#twit {
    margin-top: 10px;
    width: 100%;
    min-height: 72px;
}

.twitUploadBox {
    margin-bottom: 70px;
}

#img {
    display: none;
}

#img-label {
    float: left;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.twit-img img {
    max-width: 100%;
    height: auto;
}

#twit-btn {
    float: right;
}

.window-account div {
    border-bottom: 1px solid #BDBDBD;
}

.window-account div:last-child {
    border-bottom: none;
}

.window-account div:hover {
    background-color: #F6F6F6;
}

.window-account a {
    display: block;
    text-decoration: none;
    color: black;
}

/* 레이아웃: aside */
.article-aside-container {
    /* border: 1px solid; */
    width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#aside-container {
    width: 90%;
}

#hashtag-form {
    display: flex;
}

#btn-search-twit {
    margin-left: 10px;
}

.twit {
    margin-top: 10px;
    border: 1px solid;
}

.twit-box {
    border: 1px solid black;
    margin-top: 5px;
}

article {
    /* border: 1px solid; */
    width: 990px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    width: 300px;
    margin-top: 10px;
}

.twits-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.twits-pagination button {
    margin: 0 5px;
}

.pagination-active {
    color: red;
}

.input-group-admin {
    margin-bottom: 5px;
}

.input-group-admin label {
    width: 100%;
}

#btn-form-login-admin {
    margin-top: 10px;
}

#login-form-admin {
    border: 1px solid;
    width: 300px;
    text-align: right;
}

/* 로그인 */
.btn-join-submit {
    margin-top: 10px;
}

#login-container {
    /* border: 1px solid; */
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;
}

#login-form-box-admin {
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 500px;
}

.input-group {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    width: 80px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    height: 30px;
}

#login-btn-group {
    display: flex;
    justify-content: space-between;
}

#login-check {
    display: inline-block;
}

#login-btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#find-id-password {
    text-decoration: none;
    color: #0054FF;
}

#btn-form-join {
    text-decoration: none;
    border: 1px solid;
    color: black;
    padding: 2px 10px;
    font-size: 15px;
}

#btn-form-login {
    margin-left: 5px;
    background-color: #0054FF;
    color: white;
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
}

.btn-hover:hover {
    opacity: 0.7;
}

#oauth-title {
    display: block;
}

#oauth-btn-container {
    margin-top: 10px;
}

#btn-oauth-kakao {
    text-decoration: none;
    border: 1px solid black;
    background-color: #FFBB00;
    color: black;
    font-size: 15px;
    padding: 0 10px;
}

/* 관리자 회원가입 */
.login-admin-box {
    text-align: right;
}

#btn-form-admin {
    width: 250px;
    text-align: right;
    text-decoration: none;
    text-decoration: none;
    color: #0054FF;
}

.input-group-join-admin input {
    width: 150px;
    margin-bottom: 5px;
}

.join {
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 200px auto;
    padding: 50px;
}

.join-form {
    text-align: right;
}

.input-group-join {
    margin-bottom: 5px;
}

.input-group-join label {
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

#btn-join {
    margin-left: 200px;
}



.noticeBoardSubmitBtnBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.noticeWriteBtn {
    text-decoration: none;
    color: black;
    background-color: #F6F6F6;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.noticeWriteReadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

.noticeWriteReadContainer table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.noticeWriteReadContainer table tr,
.noticeWriteReadContainer table th,
.noticeWriteReadContainer table td {
    border: 1px solid black;
}

.noticeWriteReadContainer input,
.noticeWriteReadContainer textarea {
    box-sizing: border-box;
}

.noticeReadWriteRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid black;
}

.noticeReadWriteRow label {
    text-align: right;
    width: 100px;
    margin-right: 10px;
}

.noticeReadWriteRow div {
    border-left: 1px solid black;
    flex: 1;
}

.noticeReadWriteRow input,
.noticeReadWriteRow textarea {
    flex: 1;
}

.noticeReadWriteRow textarea {
    height: 400px;
}

.noticeBoardSubmitBtnBox button {
    margin-left: 10px;
}